DB_USER=root
DB_PASSWORD=
DB_NAME=tecsup_db
DB_HOST=127.0.0.1

PORT=5001

JWT_SECRET=SECRET

GMAIL_USER=angel.delgado@tecsup.edu.pe
GMAIL_PASS=---- ---- ---- ----
DESTINY_EMAIL=angel.delgado@tecsup.edu.pe
