DB_USER=root
DB_PASSWORD=
DB_NAME=tecsup_db
DB_HOST=127.0.0.1

PORT=5000

GOOGLE_CLIENT_ID=7LKQWEKLJQWEMQWELKJQWEJKLQWEJKLQWJKLEQWJKLQEW
GOOGLE_CLIENT_SECRET=OGCJASDKJKLFJKDLSFJSLDFJKLSD
JWT_SECRET=SECRET
